@page
@model LFGApp.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.ReleaseDate" class="control-label"></label>
                <input asp-for="Game.ReleaseDate" class="form-control" />
                <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <ul>
                    @for (var i = 0; i < Model.Game.GameConsoleSelections.Count; i++) {
                        <li>
                            <input type="checkbox" asp-for="Game.GameConsoleSelections[i].Selected" />
                            <label asp-for="Game.GameConsoleSelections[i].Selected">@Model.Game.GameConsoleSelections[i].Title</label>
                            <input type="hidden" asp-for="Game.GameConsoleSelections[i].ConsoleID" />
                            <input type="hidden" asp-for="Game.GameConsoleSelections[i].Title" />
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
